@import 'utils/variables';
@import 'utils/mixins';
@import 'components/type';
@import 'utils/reset';

html, body{
        overflow-x:hidden;
        width: 100dvw;
}
body{
    font-family: 'Aspekta Variable';
    font-weight: 400;
    background-color: $light-bgcolor;
}
button{
    cursor: pointer;
}
button:hover{
    transition: all .3s cubic-bezier(0.14, 1.07, 0.66, 1)
}

.h2{
    font-size: clamp(1.75rem, 1.158rem + 2.524vw, 4.188rem);
    margin: clamp(7rem, 5.301rem + 7.249vw, 14rem) 0 clamp(4rem, 3.029rem + 4.142vw, 8rem) 0;
    line-height: 160%;
    width: 100%;
    font-weight: 600;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &__menu{
        font-size: 21px;
        padding: clamp(0.5rem, 0.379rem + 0.518vw, 1rem) clamp(1rem, -0.699rem + 7.249dvw, 8rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-bgcolor;
    }
    & .menu__list{
        width: 100dvw;
        height: 100dvh;
        background-color: $light-bgcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        transform: translateX(100vw) ;
        transition: all 0.3s ease-out;
    }
    & .menu__el{
        margin-bottom: 16px;
        & a {
            color: $light-emcolor;
            &:hover{
                color: $mid-yellow;
    }
        }
    }
    & .menu__logo{
        width: clamp(2.5rem, 2.136rem + 1.553dvw, 4rem);
        height: clamp(2.5rem, 2.136rem + 1.553dvw, 4rem);
        z-index: 11;
    }
    & .menu__btn{
        background-color: transparent;
        border: none;
        font-size: clamp(2.375rem, 2.178rem + 0.841dvw, 3.188rem);
        color: $light-textcolor;
        min-width: 40px;
        min-height: 40px;
        height: fit-content;
        line-height: 100%;
        cursor: pointer;
        position: relative;
    }
    & .menu__btn::before{
        content:"\2630";
        width: 100%;
        height: 100%;
        display: block;
        color: $light-textcolor;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
    }
    &__menu.menu-open{
        & .menu__list{
            transform: translateX(0vw);
        }
        & .menu__btn::before{
        content:"\2715";
        color: $light-textcolor;
    }

    }
    &--experience{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: $light-bgcolor;
        & .header__menu--experience{
            padding: 8px 16px;
        }
        & .menu__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .menu__btn--back, & .menu__btn--end{
                font-size: 16px;
                font-family: 'Aspekta Variable';
                color: $light-textcolor;
            }
            & .menu__btn--back{
                border: none;
                background-color: transparent;
                visibility: hidden;
            }
            & .menu__btn--end{
                background-color: $mid-yellow-40;
                border: 1px solid $mid-yellow;
                padding: 8px;
                &:hover{
                    background-color: $mid-yellow;
                }
            }
        }
    }
}

.main{
    .accueil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh + clamp(3.5rem, 0.951rem + 10.874vw, 14rem));
    line-height: 140%;
    &__title{
        margin-top: clamp(5rem, 4.272rem + 3.107vw, 8rem);
        & .title__h1{
            font-size: clamp(5.625rem, 4.563rem + 4.531vw, 10rem);
            line-height: 100%;
            text-align: center;
            font-weight: 500;
            overflow: hidden;
        }
        & .title__p{
            text-align: center;
            line-height: 120%;
            font-size: clamp(1rem, 0.818rem + 0.777vw, 1.75rem);
            font-weight: 500;
            overflow: hidden;
        }
    }
    &__deco{
        width: 100%;
        height: auto;
        position: absolute;
        top: clamp(3.5rem, 0.951rem + 10.874vw, 14rem);
        left: 0;
        z-index: -1;
        opacity: 0;
        animation: decoSvg 0.3s linear 0.3s forwards;
        & img{
            width: 100vw;
        }
        // Séparer left et right pour que ça s'adapte au support
    }
}
    & .fonctionnement, .avis, .experience, ~ .footer{
        padding: 0 16px;
    }

    & .fonctionnement{
        &__title{
            margin-top: clamp(4rem, 3.272rem + 3.107vw, 7rem);
        }
        &__div{
            width: 100%;
        }
        &__p{
            font-size: clamp(1rem, 0.924rem + 0.324vw, 1.313rem);
        }
        &__p:first-of-type{
            margin-bottom: 16px;
        }
        &__details{
            margin-top: clamp(4rem, 2.092rem + 8.142vw, 6rem);
            & .details__div{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            & .details__el{
                margin-bottom: margin-to-rem(32);
                max-width: 47%;
                & .details__title{
                    color: $light-emcolor;
                    font-size: 21px;
                    margin-bottom: margin-to-rem(16);
                }
                & .details__text{
                    font-size: 16px;
                }
            }
            & .details__el:nth-of-type(5), .details__el:nth-of-type(6){
                margin-bottom: 0;
            }

        }
        &__visuel{
            margin-top: clamp(4rem, 2.092rem + 8.142vw, 6rem);
        }
    }

    .avis{
        &__el{
            position: relative;
            margin-bottom: clamp(4rem, 2.092rem + 8.142vw, 6rem);
            max-width: 75%;
            & .el__nom{
                font-size: clamp(1.313rem, 0.857rem + 1.942vw, 3.188rem);
            }
            & .el__fonction{
                font-size: clamp(0.75rem, 0.613rem + 0.583vw, 1.313rem);
            }
            & .el__fonction, & .el__nom{
                color: $light-emcolor;
            }
            & .el__text{
                font-size: clamp(1rem, 0.924rem + 0.324vw, 1.313rem);
            }
        }
        &__el::before{
            content: "";
            background-image: url("../assets/images/avis_symbol.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 64px;
            height: 64px;
            display: block;
            position: absolute;
            top: 0;
            left: -80px;
        }
        &__professeurs{
            & .avis__el:last-of-type{
                margin-bottom: 0;
    
            }
        }
        &__professeurs, &__eleves{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .experience{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__ctaText{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: clamp(1.313rem, 0.857rem + 1.942vw, 3.188rem);
            line-height: 120%;
            & .h3__span:last-of-type{
                color: $light-emcolor;
            }
        }
        & .btn{
            margin: 32px 0;
            width: 98%;
        }
    }
}

.footer{
    height:fit-content;
    &__title{
        font-size: clamp(2.375rem, 1.6rem + 3.308vw, 3.188rem);
        display: inline;
        border-bottom: 1px solid $light-textcolor;
        padding-right: 8px;
        line-height: normal;
    }
    &__menu{
        margin: 16px 0 clamp(2rem, 1.515rem + 2.071vw, 4rem) 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        & .menu__el{
            font-size: clamp(0.75rem, 0.511rem + 1.018vw, 1rem);

            & a{
                color: $light-emcolor;
                &:hover{
                    color: $mid-yellow;
                }
            }
        }
        & .menu__el:first-of-type{
            margin-bottom: 16px;
        }
    }
    &__links{
        display: flex;
        justify-content: space-between;
        margin-bottom: clamp(2rem, 1.515rem + 2.071vw, 4rem);
        & .links__el{
            font-size: clamp(0.75rem, 0.511rem + 1.018vw, 1rem);
            color: $light-textcolor;
            &:hover{
                color: $light-bordercolor;
            }
        }
    }
    &--experience{
        padding: 0 clamp(1rem, -6.524rem + 32.104vw, 32rem);
    }
}



// SVG ANIM BTN

.btn{
    margin-top: 32px;
    width: 90%;
    height: auto;
    border: none;
    background-color: transparent;
    
    .cls-1 {
    stroke-miterlimit: 4;
    stroke-width: 1px;
    }

    .cls-1, .cls-2, .cls-3, .cls-5 {
        fill: none;
    }

    .cls-1, .cls-2, .cls-3, .cls-4 {
        stroke: #ffba0a;
    }

    .cls-8 {
        font-family: 'AspektaVariable_500.000wght_0ital', 'Aspekta Variable';
        font-size: 16px;
        font-variation-settings: 'wght' 500, 'wdth' 0;
    }

    .cls-2 {
        stroke-miterlimit: 4;
        stroke-width: 1px;
    }

    .cls-4 {
        fill: rgba(255, 186, 10, .4);
    }
    .cls-6, .cls-7 {
        fill: #100700;
    }
    .cls-7, .cls-5 {
        isolation: isolate;
    }

    .cls-7, .cls-5, .cls-6 {
        opacity: 0;
    }

    .cls-5 {
        stroke: #100700;
        stroke-linecap: round;
        stroke-width: 8px;
    }
    .cls-3{
        &.Hex{
           fill: rgba(255, 186, 10, 0); 
        }
    }
    .cls-3, .cls-4{
        &.Hex.Hex-hover{
            fill: #FFBA0A;
            transition: fill 0.3s cubic-bezier(0.14, 1.07, 0.66, 1); 
        }
    }
    #Hex1, #Hex2, #Hex3, #Hex4, #Hex5, #Hex6, #Hex1-2, #Hex2-2, #Hex3-2, #Hex4-2, #Hex5-2, #Hex6-2{
        transition: all 0.3s cubic-bezier(0.14, 1.07, 0.66, 1);
    }
    #Btn, #Btn-2{
        cursor: pointer;

        text{
            user-select: none;
        }
    }
}

// Page Experience

.experience{
    &__h1{
        visibility: hidden;
        height: 0;
    }
    &__h2{
        text-align: center;
        font-size: 28px;
        margin-top: 32px;
        display: none;
    }
}

.presentation{
    padding: 0 16px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 64px;

        & .presentation__label--name{
            margin-bottom: 8px;
        }
        & .presentation__input--name{
            height: 16px;
            padding: 8px 8px;
            margin-bottom: 16px;
            border-radius: 0%;
            border: 1px solid $light-textcolor;
        }
        & .presentation__btn{
            width: 100%;
            height: 32px;
            border-radius: 0%;
            border: 1px solid $mid-yellow;
            background: $mid-yellow-40;
            font-family: 'Aspekta Variable';
            font-weight: 400;
            color: $light-textcolor;
            &:hover{
                background-color: $mid-yellow;
            }
        }
    }
}

.classes{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 0 16px;
    &__p{
        font-size: 12px;
    }
    &__svg{
        width: 100%;
        margin-top: 64px;
        & svg{
            width: 100%;
            height: 100%;
            & #classes__btn--id{
                cursor: pointer;
                &:hover{
                    .hex--fill{
                    fill-opacity: 1;
                    transition: all .3s cubic-bezier(0.14, 1.07, 0.66, 1);
                    }
                }
            }
        }
    }
}

.elevesListe{
    padding: 0 16px;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__p{
        font-size: 12px;
    }
    &__svg{
        width: 100%;
        margin-top: 64px;
        & svg{
            width: 100%;
            height: 100%;
            & #elevesListe__btn--id{
                cursor: pointer;
                &:hover{
                    .hex--fill{
                    fill-opacity: 1;
                    transition: all .3s cubic-bezier(0.14, 1.07, 0.66, 1);
                    }
                }
            }
        }
    }
}

.eleve{
    display: flex;
    padding: 0 16px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    &__p{
        font-size: 12px;
        max-width: 50ch;
        text-align: center;
    }
    &__details{
        & .eleve__h3{
            font-weight: 400;
            font-size: 28px;
            margin: 32px 0 16px 0;
        }
        & .details__list{
            width: 100%;
            margin-bottom: 32px;
        }
        & .eleve__h4{
            font-size: 21px;
            font-weight: 400;
            width: 100%;
            margin-bottom: 8px;
        }
        & .eleve__h4:first-of-type{
            border-bottom: .5px solid $light-bordercolor;
        }
        & .details__el{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $mid-yellow;
            padding: 8px 16px;
            & .el__btn{
                border: none;
                background: transparent;
                pointer-events: auto;
                &:hover{
                    .btn>path:first-of-type{
                        fill-opacity: 1;
                        transition: all .3s cubic-bezier(0.14, 1.07, 0.66, 1);
                    }
                }
                & svg , & svg *{
                    pointer-events: none;
                }
            }
        }
        & .details__el:nth-of-type(1){
            margin-bottom: 8px;
        }
        & .details__el:nth-of-type(2){
            background-color: $grey-20;
            border-color: $grey-70;
        }
    }
    & .commentaire__el--read{
        border: 1px solid $mid-yellow;
        padding: 8px 16px;
        margin-bottom: 32px;
        & .el__text--time{
            font-size: 12px;
            margin-top: 8px;
        }
    }
    &__commentaire--write{
        width: 100%;
        display: flex;
        flex-direction: column;
        & .eleve__h4{
            font-size: 21px;
            font-weight: 400;
            width: 100%;
            margin-bottom: 8px;
        }
        & .commentaire__el--write{
            border: 1px solid $mid-yellow;
            background-color: $light-bgcolor;
            min-height: 80px;
            padding: 16px;
        }
        & .commentaire__btn{
            width: 100%;
            padding: 8px 0;
            margin-top: 8px;
            background-color: $grey-20;
            border: 1px solid $grey-70;
            font-size: 16px;
            font-family: 'Aspekta Variable';
            color: $light-textcolor;
        }
    }
}
.cours{
    padding: 0 16px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $light-bgcolor;
    &--width{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__h3{
        font-size: 28px;
        font-weight: 600;
        margin-top: 16px;
        border-bottom: 1px solid $light-bordercolor;
    }
    &__h4{
        font-size: 21px;
        font-weight: 500;
        color: $light-emcolor;
        margin: 32px 0 16px 0;
    }
    &__p{
        margin-bottom: 16px;
    }
    &__p:last-of-type{
        margin-bottom: 0;
    }
    &__img{
        width: 100%;
        margin-top: 16px;
    }
    &__btn{
        padding: 8px 0;
        font-family: 'Aspekta Variable';
        font-size: 16px;
        border: 1px solid $mid-yellow;
        background-color: $mid-yellow-40;
        margin: 32px 0;
        color: $light-textcolor;
        &:hover{
            background-color: $mid-yellow;
            
        }
    }
    .reponses{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__el{
            border: 1px solid $mid-yellow;
            padding: 4px 8px;
            margin: 32px 0px;
            cursor: pointer;
            & input{
                display: none;
            }
            & label{
                cursor: pointer;
            }
            &:has(input:checked){
                background-color: $mid-yellow-40;
                &.false{
                    background-color: rgba(255, 10, 10, 0.4);
                    border: 1px solid #FF0A0A;
                }
                &.true{
                    background-color: rgba(6, 97, 0, 0.4);
                    border: 1px solid #066100;
            }
            }
            &.false{
            background-color: rgba(255, 10, 10, 0.4);
            border: 1px solid #FF0A0A;
            }
            &.true{
                background-color: rgba(6, 97, 0, 0.4);
                border: 1px solid #066100;
            }
        }
        &__btn, &__btn--end{
            margin: 0px 0px 32px 0px;
            padding: 8px 0;
            border: 1px solid $mid-yellow;
            background-color: $mid-yellow-40;
            font-family: 'Aspekta Variable';
            font-size: 16px;
            color: $light-textcolor;
            &:hover{
                background-color: $mid-yellow;
            }
        }
        &__btn--end{
            display: none;
        }
    }
}

.selectModule, .cours, .experience__h2{
    padding-top: 64px;
}

.displayed{
    display: flex;
}


@media (min-width : 768px){
    .main{
    & .fonctionnement, .avis, .experience, ~ .footer{
        padding: 0 64px;
    }
    .avis{
        &__el{

            & .el__nom{
                font-size: 38px;
            }
            & .el__fonction{
                font-size: 16px;
            }
            & .el__text{
                font-size: 21px;
            }
        }
        &__el::before{
            width: 112px;
            height: 112px;
            left: -144px;
        }
    }
        & .fonctionnement{
        &__details{
            & .details__el{
                max-width: 48%;
            }
        }
        }
        .btn{
        width: 70%;
    }
        .experience{
            .btn{
                width: 84%;
        }
    }
}
    .presentation{
        &__form{
            width: 70%;
        }
    }
    .eleve{
        padding: 0 64px;
                &__details{
            width: 70%;
        }
    }
    .cours{
        width: 100%;
        padding: 0;
        padding-top: 64px;
        &--width{
            width: 70%;
        }
    }
    .classes, .elevesListe{
        padding: 0 64px;
        &__svg{
            width: 80%;
        }
    }
    
}

@media (min-width : 1440px){
    .main{
    & .fonctionnement, .avis, .experience{
        padding: 0 128px;
    }
    & .fonctionnement{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &__p{
           margin-left: 64px; 
        }
        &__p:last-of-type{
            max-width: 70ch;
        }
        &__details{
            max-width: 50%;
            height: fit-content;
            padding-top: 64px;
            & .details__div{
                & .details__el{
                    width: 50%;
                }
            }
        }
        &__visuel{
            max-width: 45%;
        }
    }
    & .avis{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__professeurs, &__eleves{
            max-width: 50%;
        }
        &__el{
            & .el__nom{
                font-size: 51px;
            }
            & .el__fonction{
                font-size: 21px;
            }
            & .el__text{
                font-size: 21px;
            }
        }
        &__el::before{
            width: 112px;
            height: 112px;
            left: -144px;
        }
    }
    
    .btn{
        width: 28%;
    }
    .experience{
        .btn{
            width: 35%;
        }
    }
}
.footer{
        padding: 0 512px;
        & .footer__menu{
            width: 45%;
        }
        & .footer__links{
            justify-content: space-around;
            width: 50%;
            margin: 0 auto clamp(2rem, 1.515rem + 2.071vw, 4rem) auto;
        }
    }
.presentation{
    &__form{
        width: 30%;
    }
}
.eleve{
    padding: 0 128px;
    &__details{
        width: 30%;
    }
}
.cours{
    &--width{
        width: 35%;
    }
}
.classes, .elevesListe{
    padding: 0 128px;
    &__svg{
        width: 30%;
    }
}
}

@keyframes decoSvg {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}