@import 'utils/variables';
@import 'components/type';
@import 'utils/reset';
@import 'utils/mixins';
*, button{
    cursor: none;
}
html, body{
        scroll-behavior: smooth;
}
body{
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: $bg-color;
    color: $white;
}
#Projets, #Apropos, #Contact{
    scroll-margin-top: 60px;
}
.p{
    line-height: 130%;
}
.customCursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $orange;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.header{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $bg-color;
    height: 60px;
    .menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 99;
        padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
        &__list{
            opacity: 0;
            width: 100dvw;
            height: 100dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $bg-color;
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            transform: translateX(100dvw);
            transition: transform 0.3s ease-out
        }
        &__el{
            padding: margin-to-rem(12) margin-to-rem(8);
            border-bottom: 1px solid $orange;
            position: relative;
            margin-bottom: clamp(1rem, 0.272rem + 3.107vw, 4rem);
            &:hover{
                > .menu__el--link{
                    color: $bg-color;
                }
                &::after{
                        content: url("../assets/images/arrow--menu.svg");
                        width: fit-content;
                        height: fit-content;
                        position: absolute;
                        top: clamp(1.25rem, 1.011rem + 1.018vw, 1.5rem);
                        right: 16px;
                        color: $bg-color;
                    }
                background-color: $orange;
                color: $bg-color;         
            }
            &--link{
                text-decoration: none;
                color: $white;
                font-size: clamp(1.75rem, 1.401rem + 1.489vw, 3.188rem);
                font-weight: 300;
                width: 75dvw;
                display: block;
            }
        }
        &__btn{
            width: 40px;
            height: 50px;
            font-size: 42px;
            position: relative;
            background-color: transparent;
            border: none;
            &::before{
                content:"\2630";
                width: 100%;
                height: 100%;
                display: block;
                color: $white;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
            }
        }
        &.menu--open{
            & .menu__btn::before{
                font-size: 42px;
                content:"\2715";
            }
            & .menu__list{
                opacity: 1;
                transform: translateX(0dvw);
                transition: all 0.3s ease-out
            }
        }
    }

}

.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h1{
        font-size: clamp(4.188rem, 1.027rem + 13.486vw, 7.5rem);
        text-align: center;
        line-height: 100%;
        .div__img{
            display: none;
        }
    }
    &__p{

    &--strong{
        color: $orange;
        font-weight: 500;
    }
    &--scroll{
        position: absolute;
        bottom: 0;
        right: 23vw;
        z-index: -1;
        opacity: 0.5;
    }    
    }
    &__div{
        &--title{
            width: fit-content;

        }
        &--content{
            width: 100%;
            display: flex;
            margin-top: clamp(1.5rem, 1.023rem + 2.036vw, 2rem);
        }
        &--column1{
            width: clamp(10.688rem, 4.366rem + 26.972vw, 17.313rem);
            height: 70.315vh;
            border-radius: 64px 0 0 0;
            margin: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
            background-image: url("../assets/images/landing--photo.jpg");
            background-size: cover;
            background-position: 50% 50%;
        }
        &--column2{
            display: flex;
            flex-direction: column;
            gap: margin-to-rem(32);
            position: relative;
        }
        &--sun{
            width: clamp(9.375rem, 3.411rem + 25.445vw, 15.625rem);
            .div__img{
                width: 100%;
            }
        }
        &--desktopRow{
            display: none;
            padding: 0 64px;
            width: 100%;
            min-height: 50dvh;
            max-height: 55vh;
            border-radius: 64px 64px 0 0;
            background-image: url("../assets/images/landing--photo.jpg");
            background-size: cover;
            background-position: 0% 50%;
        }
    }
    &__menu{
        align-items: normal;
        padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem) 0 0;
        .menu__list{
            .menu__el{
                padding: margin-to-rem(12) margin-to-rem(8);
                border-bottom: 1px solid $orange;
                position: relative;
                margin-bottom: clamp(1rem, 0.272rem + 3.107vw, 4rem);
                z-index: 1;
                width: 46.67dvw;
                &:hover{
                    > .menu__el--link{
                        color: $bg-color;
                    }
                    background-color: $orange;
                    color: $bg-color;
                    &::after{
                        content: url("../assets/images/arrow--menu.svg");
                        width: fit-content;
                        height: fit-content;
                        position: absolute;
                        top: clamp(1.25rem, 1.011rem + 1.018vw, 1.5rem);
                        right: 16px;
                        color: $bg-color;
                    }            
                }
                &--link{
                    text-decoration: none;
                    color: $white;
                    font-size: clamp(1.75rem, 1.401rem + 1.489vw, 3.188rem);
                    font-weight: 300;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

.section{
    margin-top: clamp(6rem, 4.667rem + 2.778vw, 8rem);
    padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
    &__h2{
        font-size: 51px;
        border-bottom: 1px solid $orange;
        font-weight: 300;
    }
    &--projets, &--caseStudy{
        .projets--container{
            .projets__el{
                display: flex;
                flex-direction: column;
                margin-top: margin-to-rem(64);
                border: 1px solid $orange;
                &--img{
                    width: 100%;
                    height: clamp(10.688rem, 1.146rem + 19.878vw, 25rem);
                    background-size: cover;
                    background-position: 0% center;
                    .el__img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &--imgJanus{
                    background-image: url("../assets/images/Janus--photo.jpg");
                }
                &--imgDataplay{
                    background-image: url("../assets/images/Dataplay--photo.jpg");
                }
                &--imgRux{
                    background-image: url("../assets/images/RUX--photo.jpg");
                }
                &--imgDF{
                    background-image: url("../assets/images/DF--photo.jpg");
                }
                .projets__h3{
                    font-size: 38px;
                    padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
                    margin: clamp(1rem, 0.272rem + 3.107vw, 4rem) 0  clamp(1.5rem, 1.167rem + 0.694vw, 2rem) 0;
                    &--link{
                        color: $white;
                        font-weight: 500;
                        line-height: 130%;
                        position: relative;
                        transition: all 0.3s ease-out;
                        &:hover{
                            color: $orange;
                        }
                        &::after{
                            content: url("../assets/images/Arrow--link.svg");
                            width: fit-content;
                            position: absolute;
                            top: -1px;
                            right: margin-to-rem(-33);
                        }
                    }
                }
                .projets__btn{
                    align-self: flex-end;
                    border: 1px solid $orange;
                    background-color: $bg-color;
                    padding: clamp(0.25rem, 0.189rem + 0.259vw, 0.5rem) clamp(0.5rem, 0.379rem + 0.518vw, 1rem);
                    color: $white;
                    margin: 0 -1px -1px 0;
                    font-family: "Host Grotesk", sans-serif;
                    font-weight: 400;
                    font-size: clamp(1rem, 0.924rem + 0.324vw, 1.313rem);
                    transition: all 0.3s ease-out;
                    &:hover{
                        background-color: $orange;
                        color: $bg-color;
                    }
                }
            }
            .projets__p{
                font-family: "latienne-pro", serif;
                font-weight: 400;
                font-style: normal;
                line-height: 140%;
                font-size: clamp(1rem, 0.792rem + 0.434vw, 1.313rem);
                padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
                margin-bottom: clamp(2rem, 0.667rem + 2.778vw, 4rem);
                min-height: 25%;
            }
        }
    }
    &--contact{
        display: flex;
        flex-direction: column;
    }
    &--caseStudy{
        overflow-y: auto;
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        background-color: $bg-color;
        margin: 0;
        padding-bottom: margin-to-rem(128);
        &.open{
            display: flex;
        }
        .section__div--wrapper{
            align-items: flex-end;
        }
        .section{
            &__h2, &__h3{
                font-weight: 500;
                width: 100%;
            }
            &__h2{
                font-size: clamp(2.375rem, 1.935rem + 1.877vw, 4.188rem);
            }
            &__h3{
                font-size: clamp(1.75rem, 1.401rem + 1.489vw, 3.188rem);
                margin: clamp(4rem, 2.092rem + 8.142vw, 6rem) 0 0 0;
            }
            &__header{
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                position: fixed;
                top: 0;
                background-color: $bg-color;
                .header__btn{
                    width: 30px;
                    height: 50px;
                    font-size: 42px;
                    position: relative;
                    background-color: transparent;
                    border: none;
                        &::before{
                        content:"\2715";
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: $white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 99;
                        padding-right: clamp(1rem, 0.272rem + 3.107vw, 4rem);
                    }
                }
            }
            &__div{
                &--img{
                    width: 100%;
                    height: 25vh;
                    background-size: cover;
                    background-position: 0% 50%;
                }
                &--imgJanus{
                    background-image: url("../assets/images/Janus--photo.jpg");
                }
                &--imgDataplay{
                    background-image: url("../assets/images/Dataplay--photo.jpg");
                }
                &--imgRux{
                    background-image: url("../assets/images/RUX--photo.jpg");
                }
                &--imgDF{
                    background-image: url("../assets/images/DF--photo.jpg");
                }
            }
            &__btn{
                margin: clamp(2rem, 1.515rem + 2.071vw, 4rem) 0;
                &:last-of-type{
                    margin-bottom: margin-to-rem(96);
                }
            }
            &__p{
                &:first-of-type{
                    margin-top: margin-to-rem(32);
                }
            }
        }
    }
    &--credits{
        margin-top: margin-to-rem(64);
        .section__div--wrapper{
            align-items: normal;
        }
        .credits__h3{
            font-size: 38px;
            padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
            margin: clamp(1rem, 0.272rem + 3.107vw, 4rem) 0  clamp(1.5rem, 1.167rem + 0.694vw, 2rem) 0;
            &--link{
                color: $white;
                font-weight: 500;
                line-height: 130%;
                position: relative;
                transition: all 0.3s ease-out;
                    &:hover{
                        color: $orange;
                        }
                    &::after{
                        content: url("../assets/images/Arrow--link.svg");
                        width: fit-content;
                        position: absolute;
                        top: -1px;
                        right: margin-to-rem(-33);
                        }
                    }
                }
    }
    &__p{
        font-family: "latienne-pro", serif;
        margin-top: margin-to-rem(32);
        line-height: 140%;
        font-size: clamp(1rem, 0.702rem + 1.272vw, 1.313rem);
        &--em{
            color: $orange;
            font-style: normal;
        }
    }
    &__p:first-of-type{
        margin-top: clamp(4rem, 2.058rem + 8.285vw, 12rem);
    }
    &__h3{
        margin: clamp(2rem, 1.515rem + 2.071vw, 4rem) 0;
        font-size: 21px;
        font-weight: 300;
    }
    &__div{
        &--icons{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .div__icon{
                width: 14%;
            }
        }
        &--wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__btn{
        border: 1px solid $orange;
        padding: margin-to-rem(8) margin-to-rem(16);
        color: $white;
        transition: all 0.3s ease-out;
        background-color: $bg-color;
        font-family: "Host Grotesk", sans-serif;
        text-decoration: none;
        font-size: 21px;
        &:hover{
            color: $bg-color;
            background-color: $orange;
            img{
                filter: brightness(0) saturate(100%) invert(4%) sepia(58%) saturate(2886%) hue-rotate(214deg) brightness(94%) contrast(106%);
            }
            }
        &--contact{
            align-self: center;
            margin-top: margin-to-rem(64);
            }
    }

}

.footer{
    display: flex;
    flex-direction: column;
    padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem);
    border-top: 1px solid $orange;
    margin-top: clamp(6rem, 3.137rem + 12.214vw, 9rem);
    &__list{
        margin-top: margin-to-rem(32);
        display: flex;
        justify-content: space-between;
    }
    &__el{
        display: flex;
        gap: clamp(1rem, 0.757rem + 1.036vw, 2rem);
        &--link{
            color: $white;
            transition: all 0.3s ease-out;
            font-size: clamp(1rem, 0.924rem + 0.324vw, 1.313rem);
            &:hover{
                color: $orange;
            }
        }
    }
    &__title{
        margin: margin-to-rem(32) 0;
    }
    &__h2{
        display: flex;
        align-items: center;
        font-size: clamp(1.313rem, 0.857rem + 1.942vw, 3.188rem);
        &--link{
            color: $white;
            text-decoration: none;
            transition: all 0.3s ease-out;
            &:hover{
                color: $orange;
            }
            & img{
                width: clamp(2rem, 1.757rem + 1.036vw, 3rem);
                margin-left: margin-to-rem(8);
            }

        }
        
    }
}
@media screen and (min-width: 768px){
    .header{
        .menu__list{
            .menu__el{
                &:hover{
                    &::after{
                        top: clamp(1.5rem, 1.083rem + 0.868vw, 2.125rem);
                    }
                }
            }
        }
    }
    .landing{
        flex-direction: row;
        flex-wrap: wrap;
        &__div{
            &--title{
                align-self: flex-start;
                margin-left: clamp(2rem, 0.667rem + 2.778vw, 4rem);
            }
            &--column1{
                margin: 0 clamp(2rem, -1rem + 6.25vw, 3rem);
            }
            &--column2{
                max-width: 50%;
            }
        }
        &__h1{
            font-size: clamp(7.5rem, 5.833rem + 3.472vw, 10rem);
        }
        &__menu{
        align-items: normal;
        padding: 0 clamp(1rem, 0.272rem + 3.107vw, 4rem) 0 0;
        .menu__list{
            .menu__el{
                &:hover{
                    &::after{
                        top: clamp(1.5rem, 1.083rem + 0.868vw, 2.125rem);
                    }            
                }
            }
        }
    }
    }
    .section{
        &--projets, &--caseStudy{
            .projets{
                &--container{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .projets__el{
                            max-width: 48%;
                            .projets__h3{
                            font-size: clamp(2.375rem, 0.208rem + 4.514vw, 5.625rem);
                            &--link{
                                text-decoration-thickness: 5%;
                                text-underline-offset: 5%;
                            }
                        }
                        }
                }

            }
        }
        &--caseStudy{
            .section{
                &__h3{
                    margin: clamp(6rem, 4.667rem + 2.778vw, 8rem) 0 0 0;
                }
            }
        }
    }
    .footer{
        margin-top: clamp(9rem, 7rem + 4.167vw, 12rem);
    }
}

@media screen and (min-width:1440px) {
    .landing{
        padding: 0 64px 64px 64px;
        max-height: 100dvh;
        justify-content: space-between;
        &__div{
            &--title{
                margin: 0;
                align-self: center;
                .landing__h1{
                    position: relative;
                }
                .div__img{
                    display: inline-block;
                    height: 100%;
                    position: absolute;
                    top: 8px;
                    margin-left: margin-to-rem(8);
                }
            }
            &--content{
                max-width: 30%;
            }
            &--column1{
                display: none;
            }
            &--column2{
                min-width: 100%;
            }
            &--sun{
                display: none;
            }
            &--desktopRow{
                display: flex;
            }
        }
        &__menu{
            padding: 0;
            width: 100%;
            .menu__list{
                .menu__el{
                    width: auto;
                    margin-bottom: 12px;
                }
            }
        }
        &__p{
            &--scroll{
                right: calc(50vw - 50px);
            }
        }
    }
    .section{
        &--projets{
            .projets--container{
                .projets__p{
                    min-height: 12%;
                }
            }
        }
        &--Apropos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--contact{
            align-items: center;
            .section__div--wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__div{
            &--wrapper{
                max-width: 45%;
            }
        }
        &__h2{
            width: 100%;
        }
        &--caseStudy{
            .section{
                &__div{
                    &--img{
                        height: 40vh;
                    }
                }
            }
            .projets--container{
                .projets__el{
                    width: 100%;
                    max-width: none;
                }
            }
        }
    }
    .footer{
        &__list{
            width: 50%;
        }
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}