$light-bgcolor: #FFFAEB;
$light-textcolor: #140F00;
$light-emcolor: #893E00;

$dark-bgcolor: #140F00;
$dark-textcolor: #FFFAEB;
$dark-emcolor: #FFBA0A;

$darker-yellow: #F5AF00;
$mid-yellow: #FFBA0A;
$mid-yellow-40: rgba(255,186,10, 0.4);
$lighter-yellow: #FFC93C;