$light-bgcolor: #FFFAEB;
$light-textcolor: #140F00;
$light-emcolor: #893E00;
$light-bordercolor: rgba(20, 15, 0, 0.25);

$darker-yellow: #F5AF00;
$mid-yellow: #FFBA0A;
$mid-yellow-40: rgba(255,186,10, 0.4);
$lighter-yellow: #FFC93C;

$grey-20: rgba(132, 129, 117, 0.2);
$grey-70: rgba(132, 129, 117, 0.7);